.btn-group {
    margin-top: 20px;
}
.btn {
    border-radius: 5px;
    height: 30px;
    border: none;
    margin-right: 5px;
}

.btn-outline-light {
    background-color: #3d5a80;
    color: #fff;
    border: 1px solid;
}